body {
  background-color: #ff642c !important;
}

/*------------------------------------------------INICIO DEL CONTENIDO DEL INDEX PARA ELEGIR PRODUCTOS--------------------------------*/
#contenedor {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
#principal {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
 }
/*-------------------------------------------------------------------------------------------------------------------------------*/
  #principal #contenido_principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    flex-basis: 70%;
    margin-left: 40px;
   }
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
#principal .platillo {
    flex-grow: 1;
    flex-basis: 12rem;
    height: 35vh;
    border: 2px solid #444;
    margin: 2rem;
    box-shadow: 1px 1px 2px solid #ddd;
    cursor: pointer;
    transition: all 600ms;
    background-color: white;
   }
/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/
.nombre_alimento,.precio_alimento {
      font-size: 24px;
      color: #df4e19;
      text-shadow: 1px 1px 3px black;
      text-align: center;
      height: 7vh;
      transition: all 300ms;
    }
/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/
      #principal .platillo h2:hover {
        color: orange;
      }

      .images__platillos {
        width: 100%;
        height: 20vh;
        padding: 6px;
      }

/*------------------------------------------------FIN DEL CONTENIDO DEL INDEX PARA ELEGIR PRODUCTOS---------------------------------------------------------*/

/*-------------------------------------------INICIO DE LA BARRA LATERAL--------------------------------------------------------------------------------------*/
#lateral {
display: flex;
flex-basis: 25%;
margin:20px;
width: 100%;
height: 65vh;
flex-flow: column wrap;
font-family:Arial, Helvetica, sans-serif;
background-color: #eee;
margin-right: 2rem;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#lateral .form__title{
width: auto;
height:3rem;
background: linear-gradient(to bottom, #eee 0%, orangered 100%);
box-shadow: 0px 1px 0px #393d3f,1px 2px 0px #393d3f,2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
font-size: 25px;
font-family: 'Bebas Neue';
font-weight: normal;
letter-spacing: 2px;
padding-left:  15px;
margin-top: 30px;
margin-bottom: 15px;
text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.form__title h3{
margin-top: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.busqueda{
width:98%;
height: 30px;
margin: 10px auto;
background-color: white;
border:1px solid #ccc;
border-radius: 5px;
box-shadow: 1px 1px 4px #ccc inset;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
#lateral input[type="text"]{
width:98%;
height:30px;
border:none;
padding-left: 5px;
border-radius: 5px;
background-color: transparent;
color: #ccc;
transition: all 300ms;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
#lateral input[type="text"]:focus{
color: #555;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
#lateral input[type="submit"]{
height: 30px;
cursor:pointer;
font-size: 16px;
background-color: transparent;
border:none;
border-left: 1px solid #ccc;
color:#555;
padding-left:6px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.aside-box{
display:flex;
flex-direction: column;
width:85%;
height: 35vh;
margin:0px auto;
margin-top: 20px;
padding-top:2px;
background:#eee;
border:1px solid black;
box-shadow:0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3),0px 1px white inset,0px -3px 2px rgba(0,0,0,0.3) inset ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
#login input[type="email"],
#login input[type="password"]{
display: flex;
margin: 0px auto;
width: 82%;
height: 30px;
margin-top: 20px;
border:1px solid #ccc;
box-shadow: 1px 1px 1px #ccc inset;
border-radius: 5px;
padding-left: 30px;
color:gray;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
#login input[type="email"]:focus,
#login input[type="password"]:focus{
color: #555;
box-shadow: 1px 1px 1px gray inset;

}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
#login input[type="reset"],
#login input[type="submit"]
{
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
text-align: center;
width: 100%;
height:35px;
margin-top: 20px;
color: #eee;
background:linear-gradient(to bottom,#eee 0%, orangered 100%);
border:1px solid orangered;
border-radius: 0px;
cursor:pointer;
font-size: 15px;
font-family:Arial, Helvetica, sans-serif;
font-weight: lighter;
margin-bottom: 20px;
transition: all 300ms;

}
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
#login input[type="reset"]:hover,
#login input[type="submit"]:hover
{

box-shadow: 0px 0px 3px gray;

}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
#login a{
display: flex;
flex-flow: column wrap;
align-items: center;
font-size: 15px;
text-decoration: none;
margin-left: 1rem;
color: #555;
margin-top: 10px;
width: 84%;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/
#login a:hover{
text-decoration: underline;
color: red;
}

/*-------------------------------------------------------FIN DE LA BARRA LATERAL---------------------------------------------------------------------------*/

/*-------------------------------------------------------INICIO DE LA CABECERA-----------------------------------------------------------------------------*/

#header {
  display: grid;
  grid-template-columns: 65% 30%;
  align-items: center;
  width: 100%;
  height: 12vh;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  background-color: black;
  font-family: 'Bebas Neue';
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
  #header .cabecera__header {
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900px;
    font-size: 35px;
    padding: 15px;
    margin-left: 20px;
    color: #eee;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;
    transition: all 300ms;
  }
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    #header .cabecera__header .header__titulo {
      font-family: Helvetica;
      font-style: italic;
      font-weight: 900px;
      font-size: 35px;
      transition: all 300ms;
      display: block;
    }
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
      #header .cabecera__header .header__titulo:hover {
        transition: all 300ms;
        color: orangered;
      }
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  #header #menu {
    text-align: center;
    width: 100%;
    height: 100%;
  }
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    #header #menu .elementos__menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      list-style: none;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    #header #menu .menu__link {
      color: white;
      display: block;
      text-decoration: none;
      transition: all 200ms;
      font-size: 16px;
      padding: 10px;
    }
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    #header #menu .menu__link:hover {
      color: #e02f2f;
      transform: scale(1.2, 1.2);
    }

/*------------------------------------------------FIN DE LA CABECERA----------------------------------------------------------------------------------------------*/


/*------------------------------------------------INICIO DEL CARRITO----------------------------------------------------------------------------------------------*/

#historialCompras{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
  margin-left: 25rem;
}

.compras{ 
text-align: center;
display: flex;
flex-flow: row wrap;
font-family:fantasy;
font-size: 20px;
}

.precio{
color: red;
}

.historial{
background:linear-gradient(to bottom,#eee 0%, #444 100%);
display: flex;
justify-content: center;
}

.historial h3{
  font-family:fantasy;
  color: darkred;
}

.pago{
  background-color: white;
  text-align: center;
}

.pago h4{
  font-family:fantasy;
}

.concluirPago{
  background:linear-gradient(to bottom,#eee 0%, orange 100%);
}

.concluirPago:hover{
  background:linear-gradient(to bottom,#eee 0%, yellow 100%);
}